.CardComponents {
  width: 15rem;
  background: linear-gradient(
    45deg,
    rgb(170, 126, 211) 0%,
    rgb(71, 115, 98) 100%
  );
  text-decoration: none;
  max-height: 350px;
  min-height: 350px;
  box-shadow: 2px 2px 1rem rgb(24, 23, 23);
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all 0.5s;
  text-shadow: 2px 2px 2px black;
}
.CardComponents:hover {
  box-shadow: 0 8px 16px 0 rgba(231, 137, 209, 0.397);
  transition: transform 0.5s ease-in-out;
  animation: ease-out;
  transform: scale(0.97);
  transform: rotateY(180deg);
}

.cardheader,
h3 {
  margin: 1rem;
  height: 4rem;
  color: whitesmoke;
}

.cardimage {
  object-fit: cover;
  width: 100%;
  height: 10rem;
  vertical-align: top;
  align-content: center;
  overflow: hidden;
}

.cardtext {
  color: white;
  clear: none;
  padding: 0;
  margin: 0.2rem;
  height: 5rem;
  font-size: 1.8rem;
  vertical-align: auto;
  text-shadow: 2px 2px 2px black;
}

.cardback {
  transform: rotateY(180deg);
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15rem;
  background: linear-gradient(
    45deg,
    rgb(69, 52, 87) 0%,
    rgb(138, 185, 167) 100%
  );
  text-decoration: none;
  max-height: 350px;
  min-height: 350px;
  border-radius: 5px;
  transform-style: preserve-3d;
  color: whitesmoke;
}

.cardback h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.cardback h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
