.MenuComponents {
  margin-top: 0.1%;
  padding-bottom: 0.1%;
  padding-top: 0.1%;
  margin: 0px auto;
  position: relative;
  background-image: "../video/SlowBeans.m4v";
}

video {
  position: absolute;
  object-fit: fill;
  right: 0;
  top: 0;
  width: 200%;
  height: 220%;
  z-index: -1;
}

.spacer {
  visibility: none;
}

.menulistings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 8px;
  row-gap: 8px;
}
